@import "reset";

$ink: #1a1e22;
$seaglass: #a0e5d9;
$pinksand: #ffcdb4;
$lavender: #b9b5e8;
$blush: #ffc5c3;
$dark-lavender: #7069bc;
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Roboto Mono", monospace;

body {
  color: #fff;
  font-family: $font-secondary;
  background-image: linear-gradient(
    180deg,
    #b9b5e8 0%,
    #ecd9e3 30%,
    #b9b5e8 100%
  );

  & > * {
    max-width: 768px;
    margin: 0 auto;
  }
}

header .container {
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}

section {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 32px;
  line-height: 1.5;

  .text-large {
    font-size: 48px;
    line-height: 1;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

.section-divider {
  max-width: 140px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}

.intro {
  height: calc(100vh - 180px);
  padding-top: 48px;
  padding-bottom: 24px;
}

.about {
  height: calc(100vh - 180px);
  padding-top: 24px;
  padding-bottom: 24px;

  p {
    font-size: 18px;
    line-height: 1.3;

    &:nth-of-type(-n + 3) {
      margin-top: 16px;
    }
  }

  a {
    color: #fff;
    font-weight: 700;

    &:hover {
      color: $dark-lavender;
    }
  }
}

.contact {
  padding-top: 24px;
  padding-bottom: 48px;
}

.menu img {
  width: 24px;
  height: 24px;
}

.text-block {
  margin-top: 16px;
}

.btn {
  display: block;
  background-color: #fff;
  width: 240px;
  margin: 24px auto 0;
  padding: 16px;
  border: 1px solid $lavender;

  color: $dark-lavender;
  text-decoration: none;
  text-align: center;
  font-size: 18px;

  box-shadow: 4px 4px 0px 0px $dark-lavender;

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
  }
}

.smiley-face {
  display: inline-block;
  width: 32px;
}

.scroll-icon {
  width: 32px;
}
